<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header>
        <h3 class="bg-red-500">Login</h3>
    </header>
    <main>
        <form id="user">
            <input type="email" placeholder="Email" name="email" id="Umail">
            <input type="password" placeholder="password" name="password" id="Upassword">
            <button type="button" id="Usubmit">Submit</button>
        </form>
        <form id="writer">
            <input type="text" name="username" id="Wusername">
            <input type="password" name="password" id="Wpassword">
            <button type="button" id="Wsubmit">Submit</button>
        </form>
        <button type="button" id="w">Login as user</button>
        <button type="button" id="u">Login as writer</button>
        <script>
           const w=document.querySelector("button#w");
            const u=document.querySelector("button#u");
            window.onload=function(){
                w.style.display="none";
                document.querySelector("form#writer").style.display="none";
            }
            w.onclick= function(){
                document.querySelector("form#user").style.display="block";
                document.querySelector("form#writer").style.display="none";
                u.style.display="block";
                this.style.display="none";
            }
            u.onclick=function(){
                document.querySelector("form#user").style.display="none";
                document.querySelector("form#writer").style.display="block";
                w.style.display="block";
                this.style.display="none";
            }
            const Uform=document.querySelector("button#Usubmit");
            Uform.addEventListener("click",(e)=>{
                e.preventDefault();
                const email=document.querySelector("input#Umail").value;
                const password=document.querySelector("input#Upassword").value;
                const data={"Email":email,"password":password}
                fetch("/user/login",{
                    method:"POST",
                    headers:{
                        "Content-type":"application/json"
                    },
                    body:JSON.stringify(data)
                })
                .then((res)=>res.json()).then((data)=>{
                    console.log(data);
                    if(data.status==="success"){
                        window.location.href="/user/account";
                    }else{
                        alert(data.message);
                    }   
                }).catch((err)=>{
                    console.log(err);
                    alert("An error occurred.");
                })
            })
            Wform=document.querySelector("button#Wsubmit")
            Wform.addEventListener("click",(e)=>{
                e.preventDefault();
                const email=document.querySelector("input#Wusername").value;
                const password=document.querySelector("input#Wpassword").value;
                console.log(email,password)
                const data={"email":email,"password":password}
                
                fetch("/writer/login",{
                    method:"POST",
                        headers: {"Content-Type": "application/json"},  
                    body:JSON.stringify(data)
                }).then((res)=>res.json()).then((data)=>{
                console.log(data);
                if(data.status==="success"){
                    window.location.href="/dashboard";
                }else{
                    alert(data.message);
                }   
                }).catch((err)=>{
                    console.log(err);
                    alert("An error occurred.");
                })
            });
            
        </script>
    </main>
</body>
</html>